---
---

@import "{{ site.theme }}";

header {
  display: none;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
   :root {
       --body-bg: #000000;
       --body-color: #FFFFFF;
   }
}
